body {
    .landing-background {
        background-image: url('/bot1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh,
    }
}

.landing-page-container {
    margin: 0 2% 0 2%;
    padding: 2rem;
    background-color: rgba(82, 82, 82, 0.5);
    border-radius: 2rem;

    .center-item {
        display: flex;
    }

    img {
        border-radius: 1rem;
    }

    @media only screen and (max-width: 768px) {
        margin: 0 5% 0 5%;
    }
}